body {
    font-family: Roboto;
    margin: 0;
}

header,
.first-part,
footer {
    background-color: #1F2937;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
}

.logo {
    font-size: 24px;
    color: #F9FAF8
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

li a {
    text-decoration: none;
    color: #A0A0A0;
}
/* ############################################# */
/* First Part */
.first-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 15%;
}

.first-part div {
    padding-right: 35%;
}

.first-part h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.first-part p {
    font-size: 18px;
    color: #E5E7EB;
}

.first-part button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 20px;
    font-weight: 400;
    width: 120px;
    height: 40px;
    border-radius: 8px;
}

.first-part img {
    width: 500px;
    border: solid 2px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
}

/* ############################################ */
/* Second Part */
.second-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 15%;
}

.second-part h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.second-part div {
    display: flex;
    gap: 20px
}

.second-part img {
    border: solid 4px #3882F6;
    border-radius: 10px;
    max-width: 200px;
    max-height: 200px;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200px;
}

/* ############################################## */
/* Third Part */
.third-part {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    padding: 5% 25%;
}

.third-part span {
    display: block;
    font-weight: bold;
    text-align: right;
    margin-top: 25px;
    font-size: 30px;
}

/* ################################################ */
/* Fourth Part */
.fourth-part {
    padding: 5% 15%;
}

.fourth-part div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 80px 120px;
    border-radius: 12px;
}

.fourth-part p {
    font-size: 20px;
}

.fourth-part span {
    display: block;
    font-size: 25px;
    font-weight: 800;
}

.fourth-part button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: solid 2px #F9FAF8;
    font-size: 20px;
    font-weight: 600;
    width: 200px;
    height: 50px;
    border-radius: 12px;
}

/* ############################################### */
/* Footer */
footer {
    display: flex;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    height: 100px;
}
